.dd-wrapper {
  position: relative;
  display: inline-block;
}

.dd-header {
  background-color: transparent;
  border: 1.5px solid #e0e0e0;
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  height: 35px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dd-header:hover {
  box-shadow: 0px 0px 5px #e0e0e0;
}

.dd-header:focus {
  outline: none;
  box-shadow: 0px 0 0px 2px #6366f1;
}

.dd-header-title {
  flex: 0 0 80%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dd-header-icon {
  flex: 0 0 20%;
  font-size: 23px;
}

.dd-list {
  position: absolute;
  width: 100%;
  z-index: 1;
  border: 1px solid #e0e0e0;
  border-radius: 7px;
  margin-top: 5px;
  box-shadow: 0px 0px 5px #e0e0e0;
}

.dd-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ffffff;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 14px;
}

/* .dd-list-item:focus {
  outline: none;
} */

.dd-list-item:hover,
.dd-list-item:focus {
  background-color: #f6f6f6;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.dd-list-item__checked {
  position: absolute;
  right: 10px;
  font-size: 14px;
  color: #6366f1;
}
